</main>
<footer>
    <div class="footer-content">
        <div class="footer-info">
            <p>&copy; 2024 Our Hospital. All rights reserved.</p>
            <p><strong>Contact Us:</strong></p>
            <p>Phone: <a href="tel:+1234567890">(0278) 2424108, +91 7265933325</a></p>
            <p>Email: <a href="mailto:info@ourhospital.com">santkrupa@yahoo.com</a></p>
        </div>
        <div class="footer-location">
            <p><strong>Get Directions:</strong></p>
            <a href="https://www.google.com/maps/place/K.P.+Hospital/@21.7673676,72.1315651,17z/data=!3m1!4b1!4m6!3m5!1s0x395f512e7b3f8bc3:0x5c24f545fc80c6a5!8m2!3d21.7673676!4d72.13414!16s%2Fg%2F11fpgxmsy6?entry=ttu&g_ep=EgoyMDI0MDgyMC4xIKXMDSoASAFQAw%3D%3D" target="_blank" class="btn btn-primary">Open Map</a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
        function toggleDetails(sectionId) {
            const section = document.getElementById(sectionId);
            if (section.style.display === "none" || section.style.display === "") {
                section.style.display = "block";
            } else {
                section.style.display = "none";
            }
        }
    </script>
</body>
</html>





