<%- include('partials/header') %>


    <main>
        <h1>About Us</h1>
    <p>Welcome to our hospital website. Here is some information about us.</p>
    </main>

    <%- include('partials/footer') %>

